#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
  behaviors {
    #include "macros.dtsi"
    #include "version.dtsi"

    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <175>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };

    /*
     * Real-Programmer-Dvorak (Prime KLC) number row:
     * unshifted: \ + [ { ( &   = ) } ] *  ! |
     * shifted:   (grave) 1 2 3 4 5   6 7 8 9 0  % `
     *
     * Implemented with mod-morph:
     * - Trigger: either shift
     * - keep-mods defaults to 0, so the shift modifier is MASKED for the output
     *   (this is what makes it behave like a KLC layout instead of "shifting again").
     */

    mm_bslh_pipe: mm_bslh_pipe {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_BSLH_PIPE";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp BSLH &kp PIPE>;
    };

    mm_plus_1: mm_plus_1 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_PLUS_1";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp PLUS &kp N1>;
    };

    mm_lbkt_2: mm_lbkt_2 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_LBKT_2";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp LBKT &kp N2>;
    };

    mm_lbrc_3: mm_lbrc_3 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_LBRC_3";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp LBRC &kp N3>;
    };

    mm_lpar_4: mm_lpar_4 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_LPAR_4";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp LPAR &kp N4>;
    };

    mm_ampr_5: mm_ampr_5 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_AMPR_5";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp AMPS &kp N5>;
    };

    mm_equal_6: mm_equal_6 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_EQUAL_6";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp EQUAL &kp N6>;
    };

    mm_rpar_7: mm_rpar_7 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_RPAR_7";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp RPAR &kp N7>;
    };

    mm_rbrc_8: mm_rbrc_8 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_RBRC_8";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp RBRC &kp N8>;
    };

    mm_rbkt_9: mm_rbkt_9 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_RBKT_9";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp RBKT &kp N9>;
    };

    mm_star_0: mm_star_0 {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_STAR_0";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp STAR &kp N0>;
    };

    mm_excl_perc: mm_excl_perc {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_EXCL_PERC";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp EXCL &kp PRCNT>;
    };

    mm_pipe_grave: mm_pipe_grave {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_PIPE_GRAVE";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp PIPE &kp GRAVE>;
    };

    mm_at_caret: mm_at_caret {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_AT_CARET";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp AT &kp CARET>;
    };

    mm_dollar_tilde: mm_dollar_tilde {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_DOLLAR_TILDE";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp DLLR &kp TILDE>;
    };

    mm_bslh_hash: mm_bslh_hash {
      compatible = "zmk,behavior-mod-morph";
      label = "MM_BSLH_HASH";
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      bindings = <&kp BSLH &kp HASH>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base (RealPDvo)";
      bindings = <
        &mm_bslh_pipe &mm_plus_1 &mm_lbkt_2 &mm_lbrc_3 &mm_lpar_4 &mm_ampr_5 &tog 1                                                           &mo 3 &mm_equal_6 &mm_rpar_7 &mm_rbrc_8 &mm_rbkt_9 &mm_star_0 &mm_excl_perc
        &kp TAB       &kp SEMI   &kp COMMA  &kp DOT    &kp P      &kp Y      &none                                                             &none &kp F       &kp G      &kp C      &kp R      &kp L      &mm_bslh_hash
        &kp ESC       &kp A      &kp O      &kp E      &kp U      &kp I      &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp D       &kp H      &kp T      &kp N      &kp S      &kp MINUS
        &kp LSHFT     &kp SQT    &kp Q      &kp J      &kp K      &kp X                            &kp HOME &kp PG_UP                           &kp B  &kp M       &kp W      &kp V      &kp Z      &mm_at_caret &kp RSHFT
        &mo 2         &mm_dollar_tilde &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp SPACE              &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo 2
      >;
    };

    keypad {
      display-name = "Kp";
      bindings = <
        &mm_bslh_pipe &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N4 &kp KP_N5 &trans                                                           &mo 3 &kp KP_N6 &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_N0 &mm_excl_perc
        &kp TAB       &kp SEMI  &kp COMMA &kp DOT   &kp P     &kp Y     &none                                                            &none &kp F     &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &mm_bslh_hash
        &kp ESC       &kp A     &kp O     &kp E     &kp U     &kp I     &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp D     &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS  &kp MINUS
        &kp LSHFT     &kp SQT   &kp Q     &kp J     &kp K     &kp X                            &kp HOME &kp PG_UP                           &kp B  &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_ENTER &mm_at_caret &kp RSHFT
        &mo 2         &mm_dollar_tilde &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP &kp DOWN  &kp KP_DOT &kp RBKT &mo 2
      >;
    };

    fn {
      display-name = "Fn";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };

    mod {
      display-name = "Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };

    extra1 { display-name = "Red";    status = "reserved"; };
    extra2 { display-name = "Purple"; status = "reserved"; };
    extra3 { display-name = "Cyan";   status = "reserved"; };
    extra4 { display-name = "Yellow"; status = "reserved"; };
  };
};

